.container {
  max-width: 1024px;
  height: 410px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #f5f5f5;

  padding-top: 40px;
}

.leftSection {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  height: 100%;
  /* margin-top: 207px; */
}

.logo {
  list-style: none;
  /* margin-top: 40px; */
  padding: 0;
}
.logo li {
  display: flex;
  align-items: center;
}
.about_company {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.about_company li {
  display: flex;
  flex-direction: column;
}
.about_company li:nth-child(1) {
  margin-right: 20px;
}
.logoImg img {
  width: 56px;
  height: 40px;
  display: block;
  margin-right: 12px;
  margin-bottom: 30px;
}

.logoText {
  font-family: "FreightSansBlackSC";
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: normal;
  margin-bottom: 30px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  margin-left: auto;
  align-items: flex-end;
}
.quickmenu {
  display: flex;
  list-style: none;
  margin: 0 0 83px 0;
  padding: 0;
}

.strong {
  font-family: "NotoSansCJKkr-Bold";
  line-height: 25px;
  font-style: normal;
}
.textContent {
  font-family: "NotoSansCJKkr-Regular";
  line-height: 25px;
  font-style: normal;
  opacity: 0.5;
}

.stick {
  margin: 0 12px;
}
.goTopBtn {
  font-family: "Gotham Medium";
  line-height: 26px;
  opacity: 0.4;
}
