.Parent {
  margin: 158px auto auto auto;
  width: 580px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 36px;
  font-size: "NotoSansCJKkr-Medium";
}

.Parent strong {
  font-weight: bold;
  font-family: "FreightSansBlackSC";
}

.Line {
  width: 100%;
  border: none;
  background-color: #FFCC5C;
  height: 3px;
  margin-bottom: 27px;

}

.Email {
  margin-bottom: 113px;
}

.Email div {
  cursor: pointer;
}

.Para {
  /*display: 'inline-block';*/
  /*font-size: '13px';*/
  /*width: '132px';*/
  display: inline-block;
  font-size: 13px;
  width: 132px;
}

.Para div {
  cursor: pointer;
}

.Email div {
  font-size: 14px;
}

.Sns {
  font-size: 21px;
  font-family: "Apple SD Gothic Neo", Arial, sans-serif;

}

.Logo {
  display: flex;
  margin-top: 30px;
  position: relative;
  left: 16px;
}

.Logo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 64px;
}

.Logo img:hover {
  cursor: pointer;
}

.LoginError {
  margin-top: 10px;
  color: red;
  font-size: 16px;
}

.LoginInput {
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 8px;
  margin-bottom: 25px;
  text-indent: 22px;
  font-size: 16px;
  font-family: "Noto Sans CJK KR";
}

.EmailError {
  position: relative;
  bottom: 10px;
  color: red;
}

.LoginButton {
  width: 580px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: #FF6F69;
  color: white;
  font-family: Noto Sans CJK KR;
  font-size: 21px;
  margin-bottom: 17px;
  margin-top: 20px;
}

.LoginButton:hover {
  cursor: pointer;
}