.Parent {
    margin: 52px auto auto auto;
    width: 580px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 36px;
    font-family: "NotoSansCJKkr-Medium";
}

.Parent strong {
    font-weight: bold;
    font-family: "FreightSansBlackSC";
}

.Line {
    width: 100%;
    border: none;
    background-color: #ffcc5c;
    height: 3px;
    margin-bottom: 22px;
}

.Email {
    margin-bottom: 113px;
}

.Email div {
    cursor: pointer;
}

.Para {
    display: inline-block;
    font-size: 13px;
}

.Para div {
    cursor: pointer;
}

.Email div {
    font-size: 14px;
}

.Sns {
    font-size: 18px;
    font-weight: 400;
    color: #939393;
    width: 100%;
    text-align: center;
    margin-bottom: 22px;
}

.Logo {
    display: flex;
    position: relative;
    left: 16px;
}

.Logo img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 64px;
}

.Logo img:hover {
    cursor: pointer;
}

.LoginError {
    margin-top: 10px;
    color: red;
    font-size: 16px;
}

.LoginInput {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    text-indent: 22px;
    font-size: 16px;
    font-family: "NotoSansCJKkr-Medium";
}

.EmailError {
    position: relative;
    bottom: 10px;
    color: red;
}

.LoginButton {
    width: 580px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #ff6f69;
    color: white;
    font-family: "NotoSansCJKkr-Medium";
    font-size: 21px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.LoginButton:hover {
    cursor: pointer;
}

.FindAccount {
    width: 100%;
    font-size: 14px;
    color: #939393;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.FindAccount span {
    margin-left: 20px;
}
.FindAccount a {
    margin-left: 20px;
}

.FindAccounts {
    width: 100%;
    font-size: 14px;
    color: #939393;
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
.FindAccounts span {
    margin-left: 20px;
}
.FindAccounts a {
    margin-left: 20px;
}

.Icon {
    size: 32px;
}


.Icon:hover {
    color: black;
}
