.Input {
    width: 542px;
    height: 60px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 8px;
    text-indent: 22px;
    margin-top: 30px;
}
.CheckButton {
    width: 69px;
    height: 60px;
    background-color: #FF6F69;
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    right: 34px;
}

.CheckButton:hover {
    cursor: pointer;
}
