.Button {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: #ff6f69;
  color: white;
  font-family: "NotoSansCJKkr-Bold";
  font-size: 21px;
}
.Button:hover {
  cursor: pointer;
}
.Button:focus {
  outline: none;
}
