.Parent {
  margin: 80px auto auto auto;
  width: 580px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
}

.Parent input {
  font-size: 16px;
}

.Parent strong {
  font-weight: bold;
  font-family: "FreightSansBlackSC";
}

.Title {
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  height: 40px;
}

.NameComment {
  margin-top: 35px;
  width: 580px;
}

.YellowLine {
  width: 580px;
  height: 3px;
  border: none;
  background-color: #FFCC5C;
  margin-top: 27px;
}

.NameInput {
  width: 580px;
  height: 60px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 8px;
  text-indent: 22px;
  margin-top: 20px;
}


.RedColor {
  color: #FF6F69;
  font-weight: bold;
}

.CheckBox {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #F5F5F5;
  margin-top: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 30px;
}

.CheckIconBlue {
  font-size: 15px;
  border: 10px;
  font-weight: bolder;
  color: #4c6ef5;
}

.CheckIcon {
  font-size: 15px;
}

.CheckIcon:hover {
  cursor: pointer;
}

.CheckBox:hover {
  cursor: pointer;
}

.Agreement {
  opacity: 0.4;
  font-size: 13px;
  text-decoration: underline;
  position: relative;
  left: 290px;
}

.Agreement:hover {
  cursor: pointer;
}

.FormBox {
  width: 100%;
  font-size: 16px;
}

.SnsComment {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.SnsComment div {
  font-size: 14px;
}

.EmailErrorComment {
  position: relative;
  top: 17px;
  color: red;
}